<!doctype html>
<html lang="en">

<%- include('partials/head.html') %>

<body>

  <%- include('partials/navigation.html') %>

  <div class="container my-1 text-center">

    <h1><%= title %></h1>

  </div>

  <%- include('partials/view-scripts.html') %>

  <div class="container p-5">
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <div class="card animate__animated animate__flipInY">
          <div class="card-header bg-dark text-white text-center">
            <h1>Contact me</h1>
          </div>
          <div class="card-body">

            <form action="">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Email">
              </div>
              <div class="form-group">
                <textarea class="form-control" name="" id="" cols="30" rows="10" placeholder="Message"></textarea>
              </div>
              <div class="form-group">
                <button class="btn btn-primary btn-block">Send message</button>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>


  <%- include('partials/footer.html') %>
</body>

</html>