<!doctype html>
<html lang="en">

<%- include('partials/head.html') %>

<body>

  <%- include('partials/navigation.html') %>

  <div class="container my-3 text-center">
    <h1><%= title %></h1>
    <header class="row">
      <div class="col-lg-12">
        <img src="/img/pews-logo.png" class="animate__animated animate__bounce" alt="logo">
      </div>
    </header>

  </div>

  <!-- Section one -->

  <div class="container-fluid" id="about">
    <div class="row bg-dark text-white p-5 text-center">
      <div class="col-sm-6">
        <i class="fab fa-youtube fa-10x"> </i>
      </div>
      <div class="col-sm-6">
        <h3>The most suscribed youtuber</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum autem veritatis consequatur vitae ipsa, suntatque facilis est inventore? Enim praesentium quisquam iure consequuntur quae recusandae, aut eum necessitatibus! Inventore.</p>
      </div>
    </div>
  </div>

  <%- include('partials/view-scripts.html') %>

  <%- include('partials/footer.html') %>
</body>

</html>